@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(images/s.jpg);
	background-position: center;
	background-size: cover;
	margin:0px;
}
.head
{
	font-family:"Trebuchet MS";
	font-size:40px;
	color:#FFF;
	margin-left:50px;
}
#banner
{
	width:60%;
	height:100px;
	border:2px solid #FFF;
	background-color:rgba(31, 31, 31, 0.171);
}
.clg
{
	font-family:"Inter";
	font-size:16px;
	color:wheat;
}
#wrapper
{
	width:40%;
	border-radius:10px;
	border:2px solid #000000;
	background-color:rgba(255, 255, 255, 0.767);
}
.SubHead
{
	font-family:"Lemon";
	font-size:23px;
}
.table
{
	border-radius:5px;
	padding:0px 5px;
	border:1px solid white;
	background-color: rgba(0, 0, 0	, 0.3);
}
.labels
{
	font-family:"Alice";
	font-size:18px;
	color:rgb(0, 0, 0);
}
.fields
{
	font-size:14px;
	border-radius:5px;
	padding:4px 6px;
	border:1px solid White(206, 197, 197);
}
.Cl
{
	color: #000000;
	font-size:18px;
	font-family: "Alice";
	border-radius:6px;
	border:2px solid rgba(187, 255, 0, 0.5);
	background-color:rgba(24, 1, 1, 0.295);
}
a.link:link{font-family:"Inter";font-size:20px;color:#000000;text-decoration:none;}
a.link:active{font-family:"Inter";font-size:20px;color:#000000;text-decoration:none;}
a.link:visited{font-family:"Inter";font-size:20px;color:#000000;text-decoration:none;}
a.link:hover{font-family:"Inter";font-size:20px;color:rgb(9, 46, 253);text-decoration:none;}

.msg
{
	font-family:"Inter";
	color:rgb(9, 46, 253);
	font-size:20px;
}
a.Command:link{text-decoration:none;font-family:"Inter";color:rgb(0, 0, 0);font-size:20px;padding:5px 7px;border:2px solid white;border-radius:5px;}
a.Command:active{text-decoration:none;font-family:"Inter";color:White;font-size:20px;padding:5px 7px;border:2px solid White;border-radius:5px;}
a.Command:visited{text-decoration:none;font-family:"Inter";color:rgb(0, 0, 0);font-size:20px;padding:5px 7px;border:2px solid white;border-radius:5px;}
a.Command:hover{text-decoration:none;font-family:"Inter";color:rgb(9, 46, 253);font-size:20px;padding:5px 7px;border:2px solid white;border-radius:5px;box-shadow:0px 0px 10px #FFFFFF;}

.logo
{
	background-image: url(images/a.jpg);
	margin:0px;
	width: 150px;
	height: 130px;
	border-radius: 15px;
	position: absolute;
	left: 1215PX;
}
.Pf
{
	width: 80px;
	height: 60px;
	position: absolute;
	margin-top: -39px;
	margin-left: -37px;
}
